# ==============================
# ⚙️ Configuración Django
# ==============================
SECRET_KEY=tu_clave_secreta_aqui
DEBUG=True  # Cambiar a False en producción

# ==============================
# 🔗 Google API (OAuth2)
# ==============================
GOOGLE_CLIENT_ID=tu_google_client_id
GOOGLE_CLIENT_SECRET=tu_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:8000/oauth2callback/

# ==============================
# 💰 Configuración PayPal
# ==============================
PAYPAL_MODE=sandbox  # o 'live' en producción
PAYPAL_CLIENT_ID=tu_paypal_client_id
PAYPAL_CLIENT_SECRET=tu_paypal_client_secret
PAYPAL_WEBHOOK_ID=http://127.0.0.1:8000/

# ==============================
# 🛢️ Configuración base de datos
# ==============================
DATABASE_URL=postgresql://usuario:contraseña@host:puerto/nombre_db
NAME=nombre_db
USER=usuario
PASSWORD=contraseña
HOST=host
PORT=puerto

# ==============================
# 🔐 Seguridad (solo desactivar en desarrollo local)
# ==============================
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
