{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/buscador.css' %}"> {% endblock %}

{% block content %}
<input type="hidden" id="id_usuario" value="{{ id_usuario }}">
<div id="contendorPrincipalBuscador" class="container-fluid">
  <div class="row">

    <!-- Columna 1: Clases agendadas -->
    <div class="col-md-3">
      <div id="contenedorClasesAgendadas">

      </div>

      <div class="p-3 mt-4 rounded shadow" style="background-color: #82D9D0">
        <h5>¡Gana dinero!</h5>
        <p>Postula como ayudante y ofrece tus clases a estudiantes que te necesitan.</p>
        <a href="{% url 'postulacionAyudante' %}" class="btn btn-light btn-sm">Postular ahora</a>
      </div>

    </div>

    <!-- Columna 2: Buscador y recomendaciones -->
    <div class="col-md-9">
      <!-- Buscador -->
      <div class="mb-3">
        <label for="buscadorAyudantes" class="form-label" style="color: white">Buscar ayudante</label>
        <input type="text" id="buscadorAyudantes" class="form-control" placeholder="Ej: Matemáticas, Juan Pérez...">
        <div id="sugerencias" class="list-group mt-2"></div>
      </div>

      <!-- Recomendaciones -->

      <h5 class="titulo-centrado">RECOMENDACIONES</h5>
      <div id="ayudantesCarousel" class="carousel slide position-relative" data-bs-ride="false">
        <div class="carousel-indicators line-indicators" id="indicadores-ayudantes"></div>
        <div class="carousel-inner" id="carrusel-ayudantes"></div>

        <button class="carousel-control-prev custom-control" type="button" data-bs-target="#ayudantesCarousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next custom-control" type="button" data-bs-target="#ayudantesCarousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

</div>
</div>

<script src="{% static 'js/buscador.js' %}"></script>
{% endblock %}