{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
{% endblock %}

{% block content %}
<div id="marcoNotificaciones" class="container">
    <div id="contenedorNotificaciones" class="row mt-5 py-5">
        <div class="container mt-5">
            <h3 class="mb-4">Detalle de Postulación</h3>

            <div class="mb-3">
                <strong>Nombre completo:</strong> {{ postulacion.usuario_id_usuario.nombres }} {{ postulacion.usuario_id_usuario.apellidos }}
            </div>

            <div class="mb-3">
                <strong>RUT:</strong> {{ postulacion.usuario_id_usuario.rut_usuario }}
            </div>

            <div class="mb-3">
                <strong>Carrera o especialidad:</strong> {{ postulacion.carrera }}
            </div>

            <div class="mb-3">
                <strong>¿Has sido ayudante antes?:</strong> {% if postulacion.experiencia == "Si" %}Sí{% else %}No{% endif %}
            </div>

            <div class="mb-3">
                <strong>¿En qué ramos puedes ayudar?:</strong> {{ postulacion.ramos }}
            </div>

            <div class="mb-3">
                <strong>Días en los que puede hacer clases:</strong> {{ postulacion.disponibilidad }}
            </div>

            <div class="mb-3">
                <strong>Motivación:</strong> {{ postulacion.cuentanos }}
            </div>

            <div class="text-center mt-4">
                <a href="#" class="btn btn-success">Aceptar Postulación</a>
                <a href="#" class="btn btn-danger ms-2">Rechazar Postulación</a>
                <a href="{% url 'panelAdministrador' %}" class="btn btn-secondary btn-volver">← Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}