{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notificaciones.css' %}"> {% endblock %}

{% block content %}

<div id="marcoNotificaciones" class="container">
    <div id="contenedorNotificaciones" class="row mt-5 py-5">
        <div class="container mt-5">
  <h3 class="mb-4">Detalle de Postulación</h3>

  <div class="mb-3">
    <strong>Nombre completo:</strong> Ana Martínez
  </div>

  <div class="mb-3">
    <strong>RUT:</strong> 19.345.678-2
  </div>

  <div class="mb-3">
    <strong>Teléfono:</strong> +56 9 8765 4321
  </div>

  <div class="mb-3">
    <strong>Carrera o especialidad:</strong> Ingeniería en Informática
  </div>

  <div class="mb-3">
    <strong>¿Has sido ayudante antes?:</strong> Sí
  </div>

  <div class="mb-3">
    <strong>¿En qué ramos puedes ayudar?:</strong> 
    Álgebra, Programación, Estadística
  </div>

  <div class="mb-3">
    <strong>Otros:</strong> Me gustaría ayudar en lógica computacional si hay demanda.
  </div>

  <div class="mb-3">
    <strong>Motivación:</strong> 
    Siempre me ha gustado enseñar y creo que ser ayudante es una forma de reforzar mis conocimientos y ayudar a otros estudiantes a superar sus dificultades.
  </div>

  <div class="text-center mt-4">
    <a href="#" class="btn btn-success">Aceptar Postulación</a>
    <a href="#" class="btn btn-danger ms-2">Rechazar Postulación</a>
    <a href="{% url 'panelAdministrador' %}" class="btn btn-secondary btn-volver">← Volver</a>
  </div>
</div>
    </div>


</div>


{% endblock %}