{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
{% endblock %}

{% block content %}
<div id="marcoNotificaciones" class="container">
    <div id="contenedorNotificaciones" class="row mt-5 py-5">
        <div class="p-4 col-md-6">
            <h1>¡Clase confirmada exitosamente!</h1>
            <p>Fecha: {{ clase.fecha }}</p>
            <p>Hora: {{ clase.hora|time:"H:i" }}</p>
            <p>Duración: {{ clase.duracion_min }} minutos</p>
            <p>Materia: {{ clase.materia_id_materia.nombre }}</p>
            <p>Ayudante: {{ clase.id_ayudante.id_ayudante.nombres }} {{ clase.id_ayudante.id_ayudante.apellidos }}</p>

            <p>El evento fue creado en Google Calendar.</p>

            <a href="{% url 'buscador' %}" class="btn btn-secondary mt-2">Volver al inicio</a>
        </div>
    </div>

</div>

{% endblock %}