{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/perfilAyudante.css' %}">
{% endblock %}

{% block content %}

<div id="perfil" class="container mt-3">
  <input type="hidden" id="user-rol" value="{{ rol_usuario }}">
  <input type="hidden" id="ayudante-id" value="{{ ayudante.id_ayudante.id_usuario }}">



  <!-- Sección de nombre, clasificación y foto -->
  <div class="profile-header text-center mb-3">
    <div class="name-rating-container mb-3">
      <h2 id="contenedorNombreAyudante" class="fw-bold mb-1" style="color: white"></h2>
      <div class="text-warning fs-4">
        ★★★★☆ (4.0)
      </div>
    </div>
    <!-- Foto de perfil centrada -->
    <div class="profile-image-container">
      <img id="fotoPerfil" class="img-fluid rounded-circle border border-3 profile-image"
        style="width: 250px; height: 250px;" alt="Foto de perfil"
        src="{% static 'images/placeHolderPerfilAyudante.png' %}">
    </div>
  </div>

  <div class="row justify-content-center">
    <!-- Datos del ayudante -->
    <div id="marcoInformación" class="row mt-5">
      <div id="contenedorInformacionAyudante"></div>
    </div>

    <!-- Botones -->
    <div class="col-md-8 text-center mt-4 mb-5">
      <div class="d-flex justify-content-center gap-3 flex-wrap">
        <a href="{% url 'seleccionarFechaClase' %}" id="disponibilidad-btn" class="btn btn-primary">
          <i class="bi bi-calendar-event"></i> Configurar Disponibilidad
        </a>
        <a href="#" id="agendar-btn" class="btn btn-primary" style="display: none;">
          <i class="bi bi-calendar-event"></i> Agendar hora
        </a>
        <a href="{% url 'editarPerfilAyudante' %}" id="editar-btn" class="btn btn-primary">
          <i class="bi bi-pencil-square"></i> Editar perfil</a>
        <a href="{% url 'agregar_datosbancarios' %}" id="bancarios-btn" class="btn btn-primary">
          <i class="bi bi-bank2"></i> Agregar o Editar Datos Bancarios
        </a>
        <a href="{% url 'buscador' %}" class="btn btn-secondary">
          ← Atrás
        </a>
      </div>
    </div>

  </div>

  <script src="{% static 'js/perfilAyudante.js' %}"></script>
{% endblock %}