{% extends 'base.html' %}
{% load static %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/postulacionAyudante.css' %}"> 
{% endblock %}

{% block content %}
<div id="contenedorFormulario">
    <div id="marcoFormulario">
        <form method="post" enctype="multipart/form-data" class="container">
            {% csrf_token %}
            <h2 class="mb-4">Formulario de Postulación para Ayudante</h2>

            <!-- Campo: Carrera o especialidad -->
            <div class="mb-3">
                <label for="{{ form.carrera.id_for_label }}" class="form-label">Carrera o especialidad</label>
                {{ form.carrera }}
            </div>

            <!-- Campo: Foto -->
            <div class="mb-3">
                <label for="{{ form.foto.id_for_label }}" class="form-label">Foto</label>
                {{ form.foto }}
            </div>

            <!-- Campo: Presentación -->
            <div class="mb-3">
                <label for="{{ form.cuentanos.id_for_label }}" class="form-label">Cuéntanos brevemente por qué quieres ser ayudante</label>
                {{ form.cuentanos }}
            </div>

            <!-- Campo: Disponibilidad -->
            <div class="mb-3">
                <label for="{{ form.disponibilidad.id_for_label }}" class="form-label">Disponibilidad horaria</label>
                {{ form.disponibilidad }}
            </div>

            <!-- Campo: Experiencia -->
            <div class="mb-3">
                <label for="{{ form.experiencia.id_for_label }}" class="form-label">¿Has sido ayudante antes?</label>
                {{ form.experiencia }}
            </div>

            <!-- Campo: Ramos -->
            <div class="mb-3">
                <label for="{{ form.ramos.id_for_label }}" class="form-label">¿En qué ramos puedes ayudar?</label>
                {{ form.ramos }}
            </div>

            <!-- Campo: Valor por hora -->
            <div class="mb-3">
                <label for="{{ form.valor.id_for_label }}" class="form-label">¿Cuál es tu valor por hora?</label>
                {{ form.valor }}
            </div>

            <!-- Campo: Términos y condiciones -->
            <div class="form-check mb-3">
                {{ form.terminos }}
                <label class="form-check-label" for="{{ form.terminos.id_for_label }}">
                    Acepto los términos y condiciones
                </label>
                <p><a href="{% url 'terminos_y_condiciones' %}">Términos y condiciones</a></p>
            </div>

            <!-- Botones -->
            <button type="submit" class="btn btn-primary">Enviar postulación</button>
            <a href="{% url 'buscador' %}">atrás</a>
        </form>
    </div>
</div>
{% endblock %}