{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/notificaciones.css' %}">
{% endblock %}

{% block content %}
<div id="marcoNotificaciones" class="container">
    <div id="contenedorNotificaciones" class="row mt-5 py-5">
        <div class="p-4 col-md-6">
            <h2 class="mb-4">Configurar horarios disponibles</h2>
            <form action="{% url 'seleccionarFechaClase' %}" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="materia" class="form-label">Materia</label>
                    <select class="form-control" id="materia" name="id_materia" required>
                        <option value="" disabled selected>Selecciona una materia</option>
                        {% for materia in materias %}
                            <option value="{{ materia.id_materia }}">{{ materia.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="fecha" class="form-label">Fecha de la clase</label>
                    <input type="date" class="form-control" id="fecha" name="fecha" required>
                </div>

                <div class="mb-3">
                    <label for="hora" class="form-label">Hora de la clase</label>
                    <input type="time" class="form-control" id="hora" name="hora_inicio" required>
                </div>

                <div class="mb-3">
                    <label for="duracion" class="form-label">Duración (minutos)</label>
                    <input type="number" class="form-control" id="duracion" name="duracion_min" required>
                </div>

                <button type="submit" class="btn btn-success">Agendar</button>
            </form>
            <a href="{% url 'buscador' %}" class="btn btn-secondary mt-2">Volver</a>
        </div>
    </div>
</div>

<div id="marcoNotificaciones" class="container">
    <div id="contenedorNotificaciones" class="row mt-5 py-5">
        <div class="p-4 col-md-6">
            <h2 class="mb-4">Listado de Clases disponibles</h2>
            
            {% if clases %}
                <ul class="list-group">
                    {% for clase in clases %}
                        <li class="list-group-item">
                            <strong>Fecha :{{ clase.fecha|date:"d/m/Y" }} Hora: {{ clase.hora_inicio|time:"H:i" }}</strong> Duración: ({{ clase.duracion_min }} min)<br>
                            
                            {% if clase.id_materia %}
                                <span>Materia: {{ clase.id_materia.nombre }}</span><br>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No tienes clases agendadas.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}