/* Paleta de colores */
    /* 
    color 1: #04668C
    color 2: #04738C
    color 3: #047F8C
    color 4: #048C8C
    color 5: #82D9D0 
    */

/* NavBar */
#navbarBase {
  position: relative;
  z-index: 1060;
  background-color: #04738C;   
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 0.6px solid white;
  }

#navbarBase a {
color: white;
padding-left: 15px;
  }

.navbar-collapse {
  z-index: 1060;
  background: #04738C;
  border-radius: 0 0 15px 15px; 
  padding-left: 30px; 
}

/* main */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #04738C, #82D9D0);
}

/* Footer */
#footerBase {
    background-color: #04738C;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    }