/* Paleta de colores */
    /* 
    color 1: #04668C
    color 2: #04738C
    color 3: #047F8C
    color 4: #048C8C
    color 5: #82D9D0 
    */

/* NavBar */
#navbarBase {
  position: relative;
  z-index: 1060;
  background-color: #04738C;   
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 0.6px solid white;
  }

#navbarBase a {
color: white;
padding-left: 15px;
  }

.navbar-collapse {
  z-index: 1060;
  background: #04738C;
  border-radius: 0 0 15px 15px; 
  padding-left: 30px; 
}

/* main */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #04738C, #82D9D0);
  min-height: 80vh;
}

/* Footer */
#footerBase {
    background-color: #04738C;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    }

 /* Efecto hover para AyudAPP */
.navbar-brand.ayudapp-hover {
  position: relative;
  transition: all 0.3s ease;
  cursor: pontier;
}
.navbar-brand.ayudapp-hover:hover {
  color: yellow
}
.navbar-brand.ayudapp-hover::after {
  position: absolute;
  bottom: -25px;
  left: 0;
  background-color: #04738C;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  pointer-events: none;
}
.navbar-brand.ayudapp-hover:hover::after {
  opacity: 1;
}

#footerBase {
    background-color: #04738C;
    color: white;
    font-size: 0.9rem;
}

/* Botón "Ingresar" exclusivo para landing */
.btn-ingresar-landing {
  background-color: #047F8C; /* Azul medio, sobrio */
  color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 6px;        /* Sutil redondeado */
  border: 2px solid #04668C; /* Azul más oscuro */
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

a.btn-ingresar-landing:hover {
  background-color: #04668C !important; /* Más oscuro al pasar el mouse */
  color: #ffffff !important;
  border-color: #04506F !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}