/* =========================== */
/* AyudAPP - Detalle Postulación */
/* =========================== */

#contenedorNotificaciones {
    color: white;
    background-color: #04668C;
    border: 2px solid #04738C;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 700px;
}

#marcoNotificaciones {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
}

.mb-3 strong {
    color: #82D9D0; /* Color acento para los labels */
}

.mb-3 {
    color: white;
}

.text-center .btn {
    margin: 5px;
}

.btn-volver {
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}
